/* Animations */
@keyframes float {
    /* Animates element */
    0% { translate: 0px -5px; }
    50% { translate: 0px 5px; }
    100% { translate: 0px -5px; }
}

/* Reset */
* {
    /* Changes font */
    color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;

    /* Changes position */
    position: relative;

    /* Changes size */
    margin: 0px;
    padding: 0px;
}

/* Body */
body {
    /* Changes background */
    background-color: #0f0f0f;
}

/* Anchor */
a {
    /* Changes font */
    text-decoration: none;

    /* Creates hover effect */
    cursor: pointer;
    transition: opacity 0.2s ease;
    &:hover { opacity: 75%; }
}

/* Button */
button {
    /* Changes background */
    background: none;
    border: none;
    
    /* Creates hover effect */
    cursor: pointer;
    transition: opacity 0.2s ease;
    &:hover { opacity: 75%; }
}

/* App */
#app {
    /* Changes size */
    min-height: 100vh;

    /* Forces columns */
    display: flex;
    flex-direction: column;
}

/* Navigation */
nav {
    /* Changes background */
    background-color: #1f1f1f;
    box-shadow: 0px 0px 5px 5px #0f0f0f;
    z-index: 1;

    /* Changes size */
    padding: 10px 25px;

    /* Forces rows */
    align-items: center;
    display: flex;
    gap: 10px 25px;
    justify-content: space-between;

    /* Styles geesecraft */
    & #geesecraft {
        /* Changes size */
        width: 150px;

        /* Forces rows */
        align-items: center;
        display: flex;
        gap: 0px 10px;
        justify-content: left;

        /* Styles logo */
        & img { height: 25px; width: 25px; }
        & div { font-weight: bold; text-align: center; }
    }

    /* Styles tabs */
    & #tabs {
        /* Changes list */
        list-style: none;

        /* Forces rows */
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 0px 25px;
        justify-content: space-around;

        /* Styles tab */
        & li {
            /* Changes size */
            width: 75px;
            
            /* Forces rows */
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;

            /* Styles anchor */
            & a { font-size: 12px; line-height: 22px; }
        }
    }

    /* Styles github */
    & #github {
        /* Changes size */
        width: 150px;

        /* Forces rows */
        display: flex;
        justify-content: right;

        /* Styles anchor */
        & a { color: #6f6f6f; font-size: 12px; line-height: 22px; }
    }

    /* Handles mobile */
    @media screen and (max-width: 900px) { & {
        /* Forces columns */
        flex-direction: column;

        /* Styles geesecraft */
        & #geesecraft { justify-content: center; }

        /* Styles github */
        & #github { display: none; }
    } }
}

/* Main */
main {
    /* Changes size */
    flex: 1;
}

/* Home Route */
main#home {
    /* Forces columns */
    display: flex;
    flex-direction: column;

    /* Styles splash */
    & #splash {
        /* Changes background */
        box-shadow: 0px 0px 5px 5px #000;
        
        /* Changes size */
        height: 650px;
        width: 100%;

        /* Forces columns */
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 40px 0px;
        justify-content: center;

        /* Styles background */
        & img { height: 100%; object-fit: cover; position: absolute; width: 100%; transition: opacity 3s ease; }
        
        /* Styles foreground */
        & h1, h2, div { color: #8f4f4f; filter: invert(100%); mix-blend-mode: difference; text-align: center; }
        & h1 { font-size: 50px; line-height: 60px; }
        & h2, div { font-size: 20px; line-height: 30px; }
        & div { animation: 3s ease-in-out infinite float; translate: 0% 0%; }
    }

    /* Styles section */
    & section {
        /* Changes size */
        padding: 50px 50px;

        /* Forces columns */
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 25px 0px;

        /* Styles title */
        & h3 { font-size: 30px; line-height: 40px; text-align: center; }

        /* Styles description */
        & div {
            /* Forces rows */
            display: flex;
            flex-wrap: wrap;
            gap: 25px 25px;
            justify-content: center;

            /* Styles objects */
            & p { text-align: center; }
            & img { max-height: 200px; max-width: 100%; object-fit: contain; }
        }

        /* Styles subclass */
        &.high { background-color: #1f1f1f; box-shadow: 0px 0px 5px 5px #000; }
    }
}

/* Archive Route */
main#archive {
    /* Forces columns */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px 0px;

    /* Styles splash */
    & #archive-splash { box-shadow: 0px 0px 5px 5px #000; height: 400px; object-fit: cover; width: 100%; }

    /* Styles data */
    & #archive-data {
        /* Changes size */
        margin: 25px 0px;
        width: 100%;

        /* Forces columns */
        display: flex;
        flex-direction: column;
        gap: 25px 0px;

        /* Styles titles */
        & h1 { font-size: 40px; line-height: 50px; margin: 0px 25px; text-align: center; }
        & h2 { margin: 0px 25px; text-align: center; }

        /* Styles meta */
        & #archive-meta {
            /* Changes size */
            margin: 0px 50px;

            /* Forces rows */
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 10px 25px;
            justify-content: center;

            /* Styles text */
            & div { color: #6f6f6f; font-size: 12px; line-height: 22px; text-align: center; width: 150px; }
        }

        /* Styles body */
        & #archive-body {
            /* Changes size */
            margin: 0px 25px;

            /* Forces rows */
            display: flex;
            gap: 25px 25px;

            /* Styles content */
            & #archive-content {
                /* Changes background */
                background-color: #1f1f1f;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 3px #000;

                /* Changes size */
                flex: 1;
                padding: 20px 25px;
            }

            /* Styles logistics */
            & #archive-logistics {
                /* Changes background */
                background-color: #1f1f1f;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 3px #000;

                /* Changes size */
                padding: 20px 25px;
                width: 200px;

                /* Forces columns */
                display: flex;
                flex-direction: column;
                gap: 10px 0px;

                /* Styles section */
                & section {
                    /* Forces columns */
                    display: flex;
                    flex-direction: column;

                    /* Styles objects */
                    & h3 { font-size: 12px; line-height: 22px; }
                    & a { color: #8f4f4f; font-size: 12px; line-height: 22px; }
                    & p, span { color: #6f6f6f; font-size: 12px; line-height: 22px; }
                    & ul { display: flex; flex-direction: column; list-style: none; }
                    & span { align-items: center; display: flex; gap: 0px 5px; }
                    & img { height: 15px; width: 15px; }
                }
            }
        }

        /* Styles gallery */
        & #archive-gallery {
            /* Changes background */
            background-color: #1f1f1f;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 5px #000;

            /* Changes size */
            margin: 0px 25px;
            padding: 25px 25px;

            /* Forces rows */
            display: flex;
            flex-wrap: wrap;
            gap: 25px 25px;
            justify-content: space-around;

            /* Styles screenshot */
            & button {
                /* Changes background */
                background-color: #2f2f2f;
                border-radius: 5px;
                box-shadow: 0px 0px 3px 3px #111;

                /* Changes size */
                padding: 5px 5px;
                width: 175px;

                /* Forces columns */
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 5px 0px;
                justify-content: center;

                /* Styles objects */
                & img { flex: 1; object-fit: contain; width: 100%; }
                & span { color: #6f6f6f; font-size: 12px; line-height: 22px; text-align: center; }
            }
        }
    }

    /* Styles screenshot */
    & #screenshot {
        /* Changes background */
        background-color: #0f0f0fef;
        z-index: 10;

        /* Changes position */
        left: 0px;
        position: fixed;
        top: 0px;
        
        /* Changes size */
        height: 100%;
        width: 100%; 
        
        /* Forces rows */
        align-items: center;
        display: flex;
        justify-content: center;

        /* Styles buttons */
        & #screenshot-previous, #screenshot-next {
            /* Changes background */
            background-color: #2f2f2f;
            border-radius: 5px;

            /* Changes size */
            height: fit-content;
            margin: 0px 50px;
            padding: 10px 10px;
            width: fit-content;
        }

        /* Styles display */
        & #screenshot-display {
            /* Changes size */
            height: 100%;
            flex: 1;

            /* Forces columns */
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 25px 0px;
            justify-content: center;
            text-align: center;

            /* Styles image */
            & #screenshot-image {
                /* Changes background */
                background-color: #2f2f2f;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 5px #000;
                object-fit: contain;

                /* Changes size */
                padding: 5px 5px;
                width: 100%;
            }

            /* Styles section */
            & section {
                /* Forces columns */
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                /* Styles texts */
                & h3, span {
                    /* Changes font */
                    font-size: 12px;
                    line-height: 22px;

                    /* Forces rows */
                    align-items: center;
                    display: flex;
                    gap: 0px 5px;

                    /* Styles image */
                    & img { height: 15px; width: 15px; }
                }
                & span { color: #6f6f6f; }
            }

            /* Styles close */
            & #screenshot-close {
                /* Changes background */
                background-color: #2f2f2f;
                border-radius: 5px;

                /* Change ssize */
                padding: 5px 10px;

                /* Changes font */
                font-size: 12px;
                line-height: 22px;
            }
        }
    }

    /* Handles mobile */
    @media screen and (max-width: 700px) { & {
        /* Styles data */
        & #archive-data {
            /* Styles body */
            & #archive-body {
                /* Forces columns */
                flex-direction: column-reverse;

                /* Styles logistics */
                & #archive-logistics { width: auto; }
            }
        }

        /* Styles screenshot */
        & #screenshot {
            /* Styles buttons */
            & #screenshot-previous, #screenshot-next { display: none; }

            /* Styles display */
            & #screenshot-display { margin: 0px 50px; }
        }
    } }
    @media screen and (max-width: 500px) { & {
        /* Styles data */
        & #archive-data {
            /* Styles gallery */
            & #archive-gallery {
                /* Styles screenshot */
                & button { width: 100%; }
            }
        }
    } }
}

/* Archives Route */
main#archives {
    /* Changes size */
    margin: 50px 50px;

    /* Forces columns */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px 0px;

    /* Styles titles */
    & h1 { font-size: 40px; line-height: 50px; text-align: center; }
    & h2 { text-align: center; }

    /* Styles list */
    & #archive-list {
        /* Changes size */
        width: 100%;

        /* Forces rows */
        align-items: center;
        display: flex;
        gap: 0px 25px;
        justify-content: space-between;

        /* Styles button */
        & button {
            /* Changes background */
            background-color: #1f1f1f;
            border-radius: 5px;

            /* Changes size */
            height: fit-content;
            padding: 10px 10px;
        }

        /* Styles blank */
        & #archive-blank { aspect-ratio: 16 / 9; width: 50%; }

        /* Styles archive */
        & .archive {
            /* Changes background */
            background-color: #1f1f1f;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 5px #000;
            overflow: hidden;

            /* Changes position */
            left: 50%;
            position: absolute;
            translate: -50% 0%;

            /* Changes size */
            aspect-ratio: 16 / 9;
            height: fit-content;

            /* Creates cycle animation */
            &.archive-back { left: 50%; translate: -50% 0%; width: 25%; z-index: 0; }
            &.archive-left { left: 25%; translate: -25% 0%; width: 40%; z-index: 1; }
            &.archive-right { left: 75%; translate: -75% 0%; width: 40%; z-index: 2; }
            &.archive-front { left: 50%; translate: -50% 0%; width: 50%; z-index: 3; }
            transition: left 0.5s ease, translate 0.5s ease, width 0.5s ease, z-index 0.5s ease;

            /* Styles cards */
            & a {
                /* Changes size */
                height: 100%;

                /* Forces columns */
                display: flex;
                flex-direction: column;
                gap: 5px 0px;

                /* Styles background */
                & img { height: 100%; object-fit: cover; width: 100%; }

                /* Styles details */
                & section {
                    /* Changes background */
                    background-color: #1f1f1fbf;
                    
                    /* Changes position */
                    bottom: 0px;
                    left: 0px;
                    position: absolute;
                    
                    /* Changes size */
                    padding: 10px 0px;
                    width: 100%;
                    
                    /* Forces columns */
                    display: flex;
                    flex-direction: column;

                    /* Styles texts */
                    & h3, p { font-size: 12px; line-height: 22px; padding: 0px 25px; }
                }
            }
        }
    }

    /* Handles mobile */
    @media screen and (max-width: 700px) { & {
        /* Styles list */
        & #archive-list {
            /* Styles blank */
            & #archive-blank { aspect-ratio: 3 / 4; }

            /* Styles archive */
            & .archive { aspect-ratio: 3 / 4; }
        }
    } }
}

/* Error Route */
main#error {
    /* Changes size */
    margin: 50px 50px;

    /* Forces columns */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px 0px;

    /* Styles texts */
    & h1 { font-size: 40px; line-height: 50px; text-align: center; }
    & h2 { text-align: center; }
    & a { margin-top: 100px; }
}

/* Footer */
footer {
    /* Changes background */
    background-color: #1f1f1f;
    box-shadow: 0px 0px 5px 5px #000;
    z-index: 1;

    /* Changes size */
    padding: 10px 25px;

    /* Forces rows */
    align-items: center;
    display: flex;
    gap: 10px 25px;
    justify-content: space-around;

    /* Styles texts */
    & a, div { color: #6f6f6f; font-size: 10px; line-height: 20px; text-align: center; }

    /* Handles mobile */
    @media screen and (max-width: 900px) { & {
        /* Forces columns */
        flex-direction: column;
    } }
}
