/* Body */
html, body, #app {
    background-color: #0f0f0f;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Navigation */
nav {
    background-color: #1f1f1f;
    box-shadow: 0px 0px 3px 3px #0f0f0f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    gap: 0px 25px;
    justify-content: space-between;
    padding: 10px 25px;
    position: relative;
    z-index: 10;
    
    & #geesecraft {
        align-items: center;
        display: flex;
        justify-content: left;
        width: 150px;

        & img {
            height: 25px;
            width: 25px;
        }

        & div {
            color: #efefef;
            font-size: 18px;
            font-weight: bold;
            padding: 0px 8px;
        }
    }

    & #tabs {
        align-items: center;
        display: flex;
        gap: 0px 25px;
        justify-content: space-between;

        & a {
            color: #efefef;
            text-decoration: none;
            transition: opacity 0.2s ease;
        }

        & a:hover {
            opacity: 75%;
        }
    }

    & #upload {
        align-items: center;
        display: flex;
        justify-content: right;
        width: 150px;

        & a {
            background-color: #0f8f0f;
            border-radius: 5px;
            color: #efefef;
            padding: 5px 10px;
            text-decoration: none;
            transition: opacity 0.2s ease;
        }

        & a:hover {
            opacity: 75%;
        }
    }
}

/* Home */
main#home {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;
    z-index: 0;

    & #splash {
        color: #8f4fef;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 500px;

        & img {
            height: 100%;
            object-fit: cover;
            opacity: 100%;
            position: absolute;
            transition: opacity 3s ease;
            width: 100%;
        }

        & h1, h2, div {
            filter: invert(100%);
            mix-blend-mode: difference;
            position: relative;
        }

        & h1 {
            font-size: 50px;
        }

        & h2 {
            font-size: 20px;
        }

        & div {
            font-size: 20px;
        }
    }
}