/* Animations */
@keyframes oscillate {
    0% {
        translate: 0px -5px;
    }

    50% {
        translate: 0px 5px;
    }

    100% {
        translate: 0px -5px;
    }
}

/* Reset */
* {
    color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

/* Body */
html, body, #app {
    background-color: #0f0f0f;
    height: 100%;
    width: 100%;
}

/* Anchor */
a {
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 75%;    
    }
}

/* Button */
button {
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 75%;
    }
}

/* Navigation */
nav {
    align-items: center;
    background-color: #1f1f1f;
    box-shadow: 0px 0px 5px 5px #0f0f0f;
    display: flex;
    gap: 10px 25px;
    justify-content: space-between;
    padding: 10px 25px;
    z-index: 1;
    
    & #geesecraft {
        align-items: center;
        display: flex;
        justify-content: left;
        width: 150px;
        gap: 0px 10px;

        & img {
            height: 25px;
            width: 25px;
        }

        & div {
            font-weight: bold;
            text-align: center;
        }
    }

    & #tabs {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 0px 25px;
        justify-content: space-around;
        list-style: none;

        & li {
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
            width: 75px;
        }
    }

    & #github {
        color: #6f6f6f;
        text-align: right;
        width: 150px;
    }

    @media screen and (max-width: 900px) {
        & {
            flex-direction: column;
    
            & #geesecraft {
                justify-content: center;
            }
    
            & #github {
                display: none;
            }
        }
    }
}

/* Main */
main {
    min-height: 100%;
}

/* Home Route */
main#home {
    display: flex;
    flex-direction: column;

    & #splash {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 500px;
        gap: 25px 0px;
        justify-content: center;
        width: 100%;
        box-shadow: 0px 0px 5px 5px #000;

        & img {
            height: 100%;
            object-fit: cover;
            position: absolute;
            transition: opacity 3s ease;
            width: 100%;
        }

        & h1, h2, div {
            color: #8f4f4f;
            filter: invert(100%);
            font-size: 20px;
            line-height: 40px;
            mix-blend-mode: difference;
            text-align: center;
        }

        & h1 {
            font-size: 50px;
            line-height: 100px;
        }

        & div {
            animation: 3s ease-in-out infinite oscillate;
            translate: 0% 0%;
        }
    }

    & section {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 25px 0px;
        padding: 50px 100px;

        & h3 {
            font-size: 30px;
            line-height: 60px;
            text-align: center;
        }

        & div {
            display: flex;
            gap: 25px 25px;
            justify-content: space-around;
            flex-wrap: wrap;

            & p {
                text-align: center;
            }
    
            & img {
                max-height: 150px;
                object-fit: contain;
                max-width: 100%;
            }
        }

        &.high {
            background-color: #1f1f1f;
            box-shadow: 0px 0px 5px 5px #000;
        }
    }    
}

/* Archive Route */
main#archives {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px 100px;

    & h1 {
        font-size: 40px;
        line-height: 80px;   
    }

    & #archive-list {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px 25px;
        width: 100%;
        margin-top: 50px;

        & button {
            background-color: #1f1f1f;
            border-radius: 5px;
            height: fit-content;
            padding: 10px 10px;
        }

        & .archive {
            aspect-ratio: 16 / 9;
            background-color: #1f1f1f;
            box-shadow: 0px 0px 5px 5px #000;
            border-radius: 5px;
            max-height: 100%;
            overflow: hidden;
            position: absolute;
            transition: height 1s ease, width 1s ease, left 1s ease, translate 1s ease, z-index 1s ease;

            & a {
                display: flex;
                flex-direction: column;
                height: 100%;
                gap: 5px 0px;

                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                & section {
                    position: absolute;
                    font-size: 12px;
                    padding: 10px 0px;
                    display: flex;
                    flex-direction: column;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    background-color: #1f1f1fbf;

                    & h3, p {
                        font-size: 12px;
                        padding: 0px 25px;
                        line-height: 24px;
                    }
                }
            }

            &.archive-left {
                left: 25%;
                translate: -25% 0%;
                width: 40%;
                z-index: 1;
            }

            &.archive-right {
                left: 75%;
                translate: -75% 0%;
                width: 40%;
                z-index: 2;
            }

            &.archive-back {
                left: 50%;
                translate: -50% 0%;
                width: 25%;
                z-index: 0;
            }

            &.archive-front {
                left: 50%;
                translate: -50% 0%;
                width: 50%;
                z-index: 3;
            }
        }
    }

    @media screen and (max-width: 900px) {
        & #archive-list {
            & .archive {
            }
        }
    }
}

/* Error Route */
main#error {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px 100px;

    & h1 {
        font-size: 40px;
        line-height: 80px;
    }

    & a {
        margin-top: 100px;
    }
}

/* Footer */
footer {
    align-items: center;
    background: #1f1f1f;
    box-shadow: 0px 0px 5px 5px #000;
    display: flex;
    gap: 10px 25px;
    justify-content: space-around;
    padding: 10px 25px;
    z-index: 1;

    & a, div {
        color: #6f6f6f;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
    }

    @media screen and (max-width: 900px) {
        & {
            flex-direction: column;
        }
    }
}
