/* Reset */
* {
    color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

/* Body */
html, body, #app {
    background-color: #0f0f0f;
    height: 100%;
    width: 100%;
}

/* Anchor */
a {
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 75%;    
    }
}

/* Navigation */
nav {
    align-items: center;
    background-color: #1f1f1f;
    box-shadow: 0px 0px 5px 5px #0f0f0f;
    display: flex;
    gap: 10px 25px;
    justify-content: space-between;
    padding: 10px 25px;
    z-index: 1;
    
    & #geesecraft {
        align-items: center;
        display: flex;
        justify-content: left;
        width: 150px;
        gap: 0px 10px;

        & img {
            height: 25px;
            width: 25px;
        }

        & div {
            font-weight: bold;
            text-align: center;
        }
    }

    & #tabs {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 0px 25px;
        justify-content: space-around;
        list-style: none;

        & li {
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
            width: 75px;
        }
    }

    & #github {
        color: #6f6f6f;
        text-align: right;
        width: 150px;
    }
}

@media screen and (max-width: 850px) {
    nav {
        flex-direction: column;

        & #geesecraft {
            justify-content: center;
        }

        & #github {
            display: none;
        }
    }
}

/* Main */
main {
    min-height: 100%;
}

/* Footer */
footer {
    align-items: center;
    background: #1f1f1f;
    box-shadow: 0px 0px 5px 5px #000;
    display: flex;
    gap: 10px 25px;
    justify-content: space-around;
    padding: 10px 25px;
    z-index: 1;

    & a, div {
        color: #6f6f6f;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 850px) {
    footer {
        flex-direction: column;
    }
}

/* Home */
main#home {
    display: flex;
    flex-direction: column;

    & #splash {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 500px;
        gap: 25px 0px;
        justify-content: center;
        width: 100%;
        box-shadow: 0px 0px 5px 5px #000;

        & img {
            height: 100%;
            object-fit: cover;
            position: absolute;
            transition: opacity 3s ease;
            width: 100%;
        }

        & h1, h2, div {
            color: #8f4f4f;
            filter: invert(100%);
            font-size: 20px;
            line-height: 40px;
            mix-blend-mode: difference;
            text-align: center;
        }

        & h1 {
            font-size: 50px;
            line-height: 100px;
        }
    }

    & .about {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 25px 0px;
        padding: 50px 100px;

        & h3 {
            font-size: 30px;
            line-height: 60px;
            text-align: center;
        }

        & div {
            display: flex;
            gap: 25px 25px;
            justify-content: space-around;
            flex-wrap: wrap;

            & p {
                text-align: center;
            }
    
            & img {
                max-height: 150px;
                object-fit: contain;
                max-width: 100%;
            }
        }

        &.float {
            background-color: #1f1f1f;
            box-shadow: 0px 0px 5px 5px #000;
        }
    }
}

/* Error */
main#error {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px 100px;

    & h1 {
        font-size: 40px;
        line-height: 80px;
    }

    & a {
        margin: 100px 0px;
    }
}
